<%- include('./partials/head') %>

<ul class="home-articles">
    <% articles.forEach(artikel => {
          { %>
          <li>
            <a>
              <img src="<%=artikel.jetpack_featured_media_url%>">
              <h2><%-artikel.title.rendered%></h2>
              <section>
                <!-- <h3><%=artikel.author%><span class="leestijd-articles"> - 3 min</span></h3> -->
                <h3>Jitze de Vries<span class="leestijd-articles"> - 3 min</span></h3>
                <button>></button>
              </section>
            </a>
            %>
          </li>
        <% }
      }) %>
</ul>


<%- include('./partials/foot') %>
